@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */
*{
	color: white;
	font-family: 'Roboto', sans-serif;
}
body{
	background-color: #1b1b1b;
}
nav{
	display: flex;
	flex-direction: row;
}
nav .left{
	margin-right: auto;
	font-size: 30px;
}
nav .right{
	margin-left: auto;
}
nav .center{
	width: 100%;
	font-size: 30px;
	text-align: center;
}
nav a{
	margin-top: 5px;
	text-decoration: none;
	padding: 15px;
}
h2{
	color: #fff;
}
.main-form{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 800px;
	height: 500px;
	border: 4px dashed #fff;
	cursor: pointer;
	font-size: 30px;
}
.main-image{
	width: 256px;
	height: 256px;
}
.bracket{
	color: #60B4B4;
}
.code{
	color: #EC6066;
}
.green{
	color: #99C794;
}
.gray{
	color: gray;
}
.purple{
	color: #C695C6;
}
/* image page */
.c{
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	flex-direction: column;	
}
.i{

	cursor: pointer;
}
.t{
	resize: none;
	background-color: #1b1b1b;
	border: 2px dashed #fff;
	border-radius: 25px;
	cursor: pointer;
	font-size: 30px;
	padding: 0px;
	margin: 0px;
	width: 600px;
	text-align: center;
	margin-top: 10px;
}
.t:focus{
	border: 2px dashed #fff;
}
/* From cssbuttons.io by @nikk7007 */
button {
	margin-top: 10px;
 padding: 0.8em 1.8em;
 border: 2px solid #EC6066;
 position: relative;
 overflow: hidden;
 background-color: transparent;
 text-align: center;
 text-transform: uppercase;
 font-size: 16px;
 transition: .3s;
 z-index: 1;
 font-family: inherit;
 color: #EC6066;
 cursor: pointer;
}
.cop::before{
	  transform: translate(-50%, -50%) rotate(45deg) !important;
}
button::before {
 content: '';
 width: 0;
 height: 300%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) ;
 background: #EC6066;
 transition: .5s ease;
 display: block;
 z-index: -1;
}

button:hover::before {
 width: 105%;
}

button:hover {
 color: #111;
}
.more{
	justify-content: center;
	text-align: center;

}
code{
	background: #303134;
	padding: 15px;
	border-radius: 25px;

}
.row-info{
    display: flex;
    flex-direction: row;
}
.row-info-left{
    margin-right: auto;
}
.rof-info-right{
    margin-left: auto;
}